@use "variables" as *;

.stats {
    width: 90%;
    height: 65vh;
    display: grid;
    grid-template-areas:
        "staffcard inccard ticketcard"
        "stafflegend inclegend ticketlegend"
        "staffchart incchart ticketchart";
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 30% 10% 60%;
    grid-gap: 5rem;
    .staff-card {
        grid-area: staffcard;  
    }
    .inc-card {
        grid-area: inccard;  
    }
    .tickets-card {
        grid-area: ticketcard;  
    }
    .staff-card, .inc-card, .tickets-card {
        background: $white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        a {
            text-decoration: none;
        }
        .card-header {
            display: flex;
            justify-content: space-between;
            font-size: 5.2rem;
            font-weight: $semibold;
            color: $blue;
            padding: 2rem;
            svg {
                height: 7.2rem;
            }
        }
        .card-body {
            color: $blue;
            font-size: 3.2rem;
            padding: 1rem 2rem;
        }
        .card-footer {
            background: $gray;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.8rem;
            font-size: 1.8rem;
            color: $blue;
            border-radius: 0 0 10px 10px;
            padding: 1rem 2rem;
            cursor: pointer;
            svg {
                width: 2rem;
                height: 2rem;
                fill: $blue;
            }
            &:hover {
                background: $lightblue;
                color: $white;
                svg {
                    fill: $white;
                }
            }
        }
    }
    .staff-legend {
        grid-area: stafflegend;
        .color.emp {
            background-color: $darkblue;
        }
        .legend.emp {
            color: $darkblue;
        }
        .color.dev {
            background-color: $blue;
        }
        .legend.dev {
            color: $blue;
        }
        .color.tech {
            background-color: $lightblue;
        }
        .legend.tech {
            color: $lightblue;
        }
    }
    .inc-legend {
        grid-area: inclegend;
        .color.resolved {
            background-color: $green;
        }
        .legend.resolved {
            color: $green;
        }
        .color.open {
            background-color: $lightblue;
        }
        .legend.open {
            color: $lightblue;
        }
        .color.pending {
            background-color: $purple;
        }
        .legend.pending {
            color: $purple;
        }
    }
    .tickets-legend {
        grid-area: ticketlegend;
        .color.high {
            background-color: $red;
        }
        .legend.high {
            color: $red;
        }
        .color.medium {
            background-color: $yellow;
        }
        .legend.medium {
            color: $yellow;
        }
        .color.low {
            background-color: $green;
        }
        .legend.low {
            color: $green;
        }
    }
    .staff-legend, .inc-legend, .tickets-legend {
        display: flex;
        justify-content: space-between;
        padding: 2rem 0;
        .color {
            width: 5.6rem;
            height: 2.2rem;
            border-radius: 10px;
        }
        .legend {
            font-size: 1.8rem;
            font-weight: $semibold;
        }
    }
}