@use "variables" as *;

.stats {
    width: 90%;
    height: 65vh;
    display: grid;
    grid-template-areas:
        "staffcard inccard ticketcard"
        "staffchart incchart ticketchart";
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 30% 70%;
    grid-gap: 5rem;
    .staff-card {
        grid-area: staffcard;  
    }
    .inc-card {
        grid-area: inccard;  
    }
    .tickets-card {
        grid-area: ticketcard;  
    }
    .staff-chart {
        grid-area: staffchart;
        width: 100%;
    }
    .inc-chart {
        grid-area: incchart;
        width: 100%;
    }
    .tickets-chart {
        grid-area: ticketchart;
        width: 100%;
    }
    .staff-card, .inc-card, .tickets-card {
        background: $white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        a {
            text-decoration: none;
        }
        .card-header {
            display: flex;
            justify-content: space-between;
            font-size: 5.2rem;
            font-weight: $semibold;
            color: $blue;
            padding: 2rem;
            svg {
                height: 7.2rem;
            }
        }
        .card-body {
            color: $blue;
            font-size: 3.2rem;
            padding: 1rem 2rem;
        }
        .card-footer {
            background: $gray;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.8rem;
            font-size: 1.8rem;
            color: $blue;
            border-radius: 0 0 10px 10px;
            padding: 1rem 2rem;
            cursor: pointer;
            svg {
                width: 2rem;
                height: 2rem;
                fill: $blue;
            }
            &:hover {
                background: $lightblue;
                color: $white;
                svg {
                    fill: $white;
                }
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    main {
        padding-top: 2rem;
    }
    .stats {
        width: 100%;
        grid-template-areas:
            "staffcard"
            "staffchart"
            "inccard"
            "incchart" 
            "ticketcard"
            "ticketchart";
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-gap: 5rem;
        align-items: center;
        justify-items: center;
        .staff-card, .inc-card, .tickets-card {
            width: 88%;
        }
    }
    .tickets-chart {
        padding-bottom: 3rem;
    }
}