// Import variables
@use "variables" as *;
// Import font : Raleway
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

// General settings
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

// No transitions on preload
.preload * {
    -webkit-transition: $null-transition;
    -moz-transition: $null-transition;
    -ms-transition: $null-transition;
    -o-transition: $null-transition;
    transition: $null-transition;
}

// To initialize rem units for font sizes
html {
    font-size: 62.5%;
}

// Placeholders settings
::placeholder {
    color: $black;
    opacity: 0.6;
}