/* Colors */
/* Font Weights */
body {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-areas: "navbar header" "navbar main";
  grid-template-columns: 20% 1fr;
  grid-template-rows: 15% 1fr;
  overflow: hidden;
}

main::-webkit-scrollbar {
  width: 1.5rem;
}

main::-webkit-scrollbar-track {
  background: #2B777D;
}

main::-webkit-scrollbar-thumb {
  background: #5FBEBC;
  border-radius: 3px;
}

main::-webkit-scrollbar-thumb:hover {
  background: #5FBE6E;
}

main {
  scrollbar-width: thin;
  scrollbar-color: #5FBE6E #2B777D;
  grid-area: main;
  overflow-y: overlay;
  padding-top: 5rem;
}
main h1 {
  font-size: 5rem;
}
main p {
  font-size: 2.4rem;
}

header {
  grid-area: navbar header;
  display: flex;
  gap: 4rem;
  background-color: #F9F9F9;
  width: 100vw;
  align-items: center;
  border-bottom: solid 2px #EBEBEB;
}
header .search-container {
  width: 40%;
  height: 72px;
  margin-left: 20%;
  background-color: #EBEBEB;
  border-radius: 10px;
}
header .search-container .search-bar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 2rem;
}
header .search-container .search-bar .search {
  padding: 2rem;
  border: none;
  outline: none;
  width: 100%;
  height: 90%;
  background-color: #EBEBEB;
  font-size: 25px;
  font-weight: 400;
  color: #262626;
}
header .search-container .search-bar .search:focus + .search-icon {
  fill: #5FBE6E;
}
header .search-container .search-bar .search-icon {
  fill: #2B777D;
  cursor: pointer;
}
header .create_container {
  width: 20%;
}
header .create_container .create_ticket {
  width: 100%;
  height: 72px;
  background: #F9F9F9;
  border: solid 2px #2B777D;
  border-radius: 10px;
  color: #2B777D;
  font-size: 2.8rem;
  font-weight: 600;
  cursor: pointer;
}
header .create_container .create_ticket:hover {
  background: #5FBE6E;
  border: solid 2px #5FBE6E;
  color: #F9F9F9;
}
header .bell_container {
  width: 5%;
  padding: 0 3em;
}
header .bell_container .bell {
  fill: #2B777D;
  cursor: pointer;
}
header .bell_container .bell:hover {
  fill: #5FBE6E;
}
header .profile_container {
  width: auto;
  height: 42%;
}
header .profile_container .profile {
  fill: #2B777D;
  cursor: pointer;
}
header .profile_container .profile:hover {
  fill: #5FBE6E;
}

.navbar {
  grid-area: navbar;
  width: 16rem;
  height: 100vh;
  position: fixed;
  background: #F9F9F9;
  border-right: solid 2px #EBEBEB;
  transition: width 200ms ease;
}
.navbar .nav_menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.navbar .nav_menu .nav_item {
  width: 100%;
}
.navbar .nav_menu .nav_item .nav_link {
  margin-right: 0;
  display: flex;
  align-items: center;
  height: 12rem;
  width: 30rem;
  color: #2B777D;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  transition: 600ms;
}
.navbar .nav_menu .nav_item .nav_link .text_link {
  display: none;
}
.navbar .nav_menu .nav_item .nav_link svg {
  width: 5rem;
  height: 5rem;
  margin: 0 5rem;
  fill: #2B777D;
  transition: 600ms;
}
.navbar .nav_menu .nav_item .nav_link:hover {
  color: #5FBE6E;
  transition: 600ms;
}
.navbar .nav_menu .nav_item .nav_link:hover svg {
  fill: #5FBE6E;
  transition: 600ms;
}
.navbar .nav_menu .nav_item .active_link {
  color: #5FBE6E;
}
.navbar .nav_menu .nav_item .active_link svg {
  fill: #5FBE6E;
}
.navbar .nav_menu .nav_item:nth-child(2) {
  margin-top: 15rem;
}
.navbar .nav_menu .nav_item:last-child {
  margin-top: auto;
  margin-bottom: 3rem;
}
.navbar .nav_menu .logo {
  width: 100%;
  font-weight: 700;
  margin: 5rem 0;
  font-size: 3.4rem;
}
.navbar .nav_menu .logo .nav_link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
  width: 34rem;
  text-decoration: none;
  transition: 600ms;
}
.navbar .nav_menu .logo .nav_link .text_link {
  visibility: hidden;
}
.navbar .nav_menu .logo img {
  transform: rotate(180deg);
  transition: transform 600ms;
  height: 114px;
  width: 114px;
}
.navbar .nav_menu .logo .cen {
  color: #2B777D;
}
.navbar .nav_menu .logo .sync {
  color: #5FBE6E;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  color: #F9F9F9;
  background-color: #2B777D;
  border-radius: 10px;
  z-index: 10;
  width: 1600px;
  max-width: 91%;
  padding: 5rem;
}
.modal .modal-header {
  text-align: center;
  padding: 0 0 5rem 0;
  display: grid;
  grid-template-areas: "title close";
  grid-template-columns: 1fr 53px;
  grid-template-rows: 100%;
  width: 1488px;
  max-width: 100%;
}
.modal .modal-header .title {
  grid-area: title;
  font-size: 4.2rem;
  font-weight: 600;
}
.modal .modal-header .close-button {
  grid-area: close;
  cursor: pointer;
  background: none;
  outline: none;
  border: 2px solid #f9f9f9;
  border-radius: 10px;
  width: 53px;
  height: 53px;
  display: grid;
  align-content: center;
  justify-content: center;
}
.modal .modal-header .close-button:hover {
  background: #C94242;
}
.modal .modal-body {
  font-size: 2.4rem;
}
.modal .modal-body .create-ticket-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: 400;
  color: #F9F9F9;
  gap: 2rem;
  width: 1488px;
  max-width: 100%;
}
.modal .modal-body .create-ticket-form input,
.modal .modal-body .create-ticket-form textarea,
.modal .modal-body .create-ticket-form select,
.modal .modal-body .create-ticket-form button {
  width: 1488px;
  max-width: 100%;
  height: 69px;
  border: solid 1px #2B777D;
  border-radius: 10px;
  outline: none;
  padding: 0 1em;
  font-weight: 400;
  color: #2B777D;
  background: #F9F9F9;
  font-size: 2.4rem;
}
.modal .modal-body .create-ticket-form textarea {
  height: 253px;
  padding-top: 1em;
}
.modal .modal-body .create-ticket-form .all_selects_container {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 1730px) {
  .modal .modal-body .create-ticket-form .all_selects_container {
    flex-direction: column;
    gap: 2rem;
  }
}
.modal .modal-body .create-ticket-form .select_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.modal .modal-body .create-ticket-form .custom_select {
  position: relative;
}
.modal .modal-body .create-ticket-form .custom_select select {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 730px;
  max-width: 100%;
}
@media only screen and (max-width: 1730px) {
  .modal .modal-body .create-ticket-form .custom_select select {
    width: 1488px;
  }
}
.modal .modal-body .create-ticket-form .custom_select .custom-options {
  font-size: 2.4rem;
  list-style: none;
  margin: 0;
  background: #F9F9F9;
  color: #2B777D;
  border-radius: 10px;
  width: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
  overflow: hidden;
}
.modal .modal-body .create-ticket-form .custom_select .custom-options li {
  height: 69px;
  border: solid 1px #2B777D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.modal .modal-body .create-ticket-form .custom_select .custom-options li:hover {
  background: #5FBEBC;
  color: #F9F9F9;
}
.modal .modal-body .create-ticket-form .custom_select .custom-options li:hover #high-icon {
  fill: #C94242;
  stroke: #C94242;
}
.modal .modal-body .create-ticket-form .custom_select .custom-options li:hover #medium-icon {
  fill: #BEBE5F;
  stroke: #BEBE5F;
}
.modal .modal-body .create-ticket-form .custom_select .custom-options li:hover #low-icon {
  fill: #5FBE6E;
  stroke: #5FBE6E;
}
.modal .modal-body .create-ticket-form .custom_select .custom-options li:hover #H,
.modal .modal-body .create-ticket-form .custom_select .custom-options li:hover #M,
.modal .modal-body .create-ticket-form .custom_select .custom-options li:hover #L {
  fill: #F9F9F9;
}
.modal .modal-body .create-ticket-form .custom_select .custom_arrow {
  position: absolute;
  top: 0;
  right: 1.5rem;
  height: 100%;
  width: 4rem;
  pointer-events: none;
}
.modal .modal-body .create-ticket-form .custom_select .custom_arrow img {
  height: inherit;
  width: inherit;
}
.modal .modal-body .create-ticket-form button {
  font-weight: 600;
  margin-top: 3rem;
  color: #5FBE6E;
  background: none;
  border: solid 2px #5FBE6E;
  cursor: pointer;
}
.modal .modal-body .create-ticket-form button:hover {
  color: #F9F9F9;
  background: #5FBE6E;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(38, 38, 38, 0.5);
  pointer-events: none;
  transition: 200ms ease-in-out;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  body {
    grid-template-areas: "header" "main" "navbar";
    grid-template-columns: 100%;
    grid-template-rows: 14% 1fr 14%;
  }

  main {
    scrollbar-width: none;
  }

  main::-webkit-scrollbar {
    width: 0;
  }

  .navbar {
    bottom: 0;
    width: 100vw;
    height: 12rem;
    border-right: none;
    border-top: solid 2px #EBEBEB;
  }
  .navbar .nav_menu {
    flex-direction: row;
    height: auto;
  }
  .navbar .nav_menu .logo {
    display: none;
  }
  .navbar .nav_menu .nav_item {
    width: auto;
  }
  .navbar .nav_menu .nav_item .nav_link {
    width: 3rem;
  }
  .navbar .nav_menu .nav_item .nav_link svg {
    margin: 0;
    width: 3rem;
    height: 3rem;
  }
  .navbar .nav_menu .nav_item .create_container_mobile .create_ticket_mobile {
    width: 6rem;
    height: 6rem;
    background: #5FBE6E;
    color: #F9F9F9;
    font-size: 5rem;
    border: none;
    outline: none;
    border-radius: 10px;
  }
  .navbar .nav_menu .nav_item .bell_container_mobile {
    width: 3rem;
    padding: 0 0.5em;
  }
  .navbar .nav_menu .nav_item .bell_container_mobile .bell {
    width: 2rem;
    fill: #2B777D;
    cursor: pointer;
  }
  .navbar .nav_menu .nav_item .profile_container_mobile {
    width: 3rem;
  }
  .navbar .nav_menu .nav_item .profile_container_mobile .profile {
    width: 3rem;
    fill: #2B777D;
    cursor: pointer;
  }
  .navbar .nav_menu .nav_item:nth-child(2) {
    margin-top: 0;
  }
  .navbar .nav_menu .nav_item:last-child {
    margin: 0;
  }

  header .create_container,
header .bell_container,
header .profile_container {
    display: none;
  }
  header .search-container {
    width: 88%;
    margin-left: 6%;
  }

  .modal {
    padding: 2rem;
  }
  .modal .modal-header {
    grid-template-areas: "close" "title";
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-gap: 2rem;
    padding-bottom: 3rem;
  }
  .modal .modal-header .title {
    font-size: 2.4rem;
  }
  .modal .modal-header .close-button {
    width: 46px;
    height: 46px;
    background: #C94242;
    justify-self: end;
  }
  .modal .modal-header .close-button svg {
    width: 15px;
    height: 15px;
  }
  .modal .modal-body {
    font-size: 2rem;
  }
  .modal .modal-body .create-ticket-form {
    gap: 1.5rem;
  }
  .modal .modal-body .create-ticket-form input,
.modal .modal-body .create-ticket-form select,
.modal .modal-body .create-ticket-form button {
    height: 50px;
    font-size: 2rem;
  }
  .modal .modal-body .create-ticket-form textarea {
    height: 180px;
    overflow-y: scroll;
  }
  .modal .modal-body .create-ticket-form button {
    background: #5FBE6E;
    color: #F9F9F9;
    margin-top: 2rem;
  }
  .modal .modal-body .create-ticket-form .all_selects_container {
    gap: 1.5rem;
  }
  .modal .modal-body .create-ticket-form .all_selects_container .select_container {
    gap: 1.5rem;
  }
  .modal .modal-body .create-ticket-form .all_selects_container .select_container .custom_select .custom_arrow {
    width: 3rem;
  }
}
@media only screen and (min-width: 768px) {
  .navbar:hover {
    width: 34rem;
  }
  .navbar:hover .nav_menu .logo .nav_link .text_link {
    visibility: visible;
  }
  .navbar:hover .nav_menu .nav_item .nav_link .text_link {
    display: block;
  }
  .navbar:hover .nav_menu .logo .nav_link .logo_link img {
    transform: rotate(360deg);
    transition: transform 600ms;
  }

  .create_container_mobile,
.bell_container_mobile,
.profile_container_mobile {
    display: none;
  }
}/*# sourceMappingURL=layout.css.map */