// Import variables
@use "variables" as *;

// Connected User profile styling
.staff-details {
    width: 93%;
    height: 75vh;
    display: grid;
    grid-template-areas: "linfo rinfo";
    grid-template-columns: 35% 65%;
    grid-template-rows: 100%;
    overflow: hidden;
    background: $white;
    border: 1px solid $gray;
    border-radius: 10px;
    .staff-left {
        display: grid;
        grid-template-rows: 60% 40%;
        align-items: center;
        padding: 0 4rem;
        font-size: 2.2rem;
        border-right: 1px solid $gray;
        .staff-left-info {
            display: grid;
            grid-template-columns: 40% 60%;
            height: 100%;
            .left-info,
            .left-values {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 100%;
            }
            .left-info {
                font-weight: $semibold;
                color: $blue;
            }
            .left-values {
                align-items: flex-end;
            }
        }
        .left-picture {
            .profile-image-form {
                display: grid;
                grid-template-columns: 47.5% 47.5%;
                grid-template-rows: 81% 13%;
                grid-template-areas:
                    "pimage pimage"
                    "upload delete";
                width: 100%;
                justify-items: center;
                gap: 2rem;
                margin: 0 auto;
                label {
                    grid-area: pimage;
                    cursor: pointer;
                    transition: opacity 300ms;
                    position: relative;
                    z-index: 5;
                    #profile_image_input {
                        display: none;
                    }
                    .profile-image {
                        height: 300px;
                        width: 300px;
                        object-fit: cover;
                        border-radius: 100%;
                    }
                    .change-profile-image {
                        opacity: 0;
                        position: absolute;
                        transition: opacity 300ms;
                        top: 50%;
                        left: 28%;
                        font-weight: $semibold;
                        z-index: 1;
                        color: $white;
                    }
                    &:hover {
                        .change-profile-image {
                            opacity: 1;
                            transition: opacity 300ms;
                        }
                    }
                }
                label:before {
                    content: "";
                    width: 280px;
                    height: 280px;
                    position: absolute;
                    border: 10px solid $blue;
                    border-radius: 50%;
                    transition: 300ms;
                }
                label:hover:before {
                    border: 10px solid $green;
                    background: rgba($color: $black, $alpha: 0.5);
                    transition: 300ms;
                }
                .profile-image-submit,
                .disabled-image-submit,
                .delete-profile-image {
                    height: 50px;
                    width: 199px;
                    background: none;
                    outline: none;
                    border: 2px solid $blue;
                    border-radius: 10px;
                    color: $blue;
                    font-size: 2rem;
                    font-weight: 600;
                }
                .profile-image-submit {
                    grid-area: upload;
                    cursor: pointer;
                }
                .delete-profile-image {
                    grid-area: delete;
                    cursor: pointer;
                }
                .profile-image-submit:hover {
                    color: $white;
                    background: $green;
                    border: $green;
                }
                .delete-profile-image:hover {
                    color: $white;
                    background: $red;
                    border: $red;
                }
                .disabled-image-submit {
                    opacity: 0.5;
                }
            }
        }
    }
    .staff-right {
        display: grid;
        grid-template-rows: 18% 25% 57%;
        align-items: center;
        padding: 0 4rem;
        font-size: 2.2rem;
        .top-right {
            display: grid;
            grid-template-rows: 60% 40%;
            grid-template-columns: 85% 15%;
            grid-template-areas:
                "name return"
                "email email";
            height: 70%;
            align-items: flex-end;
            .profile-return {
                grid-area: return;
                text-align: right;
                align-self: center;
                svg {
                    height: 20px;
                    width: 40px;
                    text-align: center;
                    fill: $blue;
                    cursor: pointer;
                    &:hover {
                        fill: $green;
                    }
                }
            }
            .name-right {
                grid-area: name;
                font-size: 4.6rem;
                font-weight: $semibold;
                color: $blue;
            }
            .logout-right {
                display: none;
            }
            .email-right {
                grid-area: email;
                color: $green;
            }
        }
        .bio-right {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 85%;
            label {
                font-size: 3.2rem;
                font-weight: $semibold;
                color: $blue;
            }
            textarea {
                font-size: 1.6rem;
                background: $white;
                border: 1px solid $gray;
                border-radius: 5px;
                outline: none;
                padding: 1rem;
                height: 100%;
                &:focus {
                    background: white;
                }
            }
        }
        .bottom-right {
            display: grid;
            grid-template-columns: 50% 50%;
            height: 100%;
            .staff-right-info {
                display: grid;
                grid-template-columns: 40% 60%;
                .right-info,
                .right-values {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                }
                .right-info {
                    font-weight: $semibold;
                    color: $blue;
                }
                .right-values {
                    align-items: flex-end;
                }
            }
            .right-chart {
                width: 75%;
                height: 85%;
                align-self: center;
                justify-self: center;
                text-align: center;
                #titleChart {
                    font-size: 2.2rem;
                    color: $black;
                    font-weight: $semibold;
                    padding: 1rem 0;
                    opacity: 0.5;
                }
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    main {
        padding-top: 3rem;
        overflow: auto;
    }
    .staff-container {
        padding: 0 0 3rem 0;
        justify-content: center;
        .staff-card {
            width: 329px;
            .card-header {
                width: 329px;
                grid-template-columns: 25% 70%;
                position: relative;
                .fullname {
                    font-size: 2rem;
                }
                .role {
                    font-size: 1.4rem;
                }
                .card-status {
                    position: absolute;
                    bottom: 33%;
                    font-size: 1.4rem;
                    left: 50%;
                }
            }
            .card-body {
                font-size: 1.4rem;
                padding: 0.5rem 1.5rem;
            }
        }
    }
    .staff-container:last-child {
        margin-bottom: 3rem;
    }
    .staff-details {
        width: 90%;
        height: 290%;
        grid-template-areas:
            "linfo"
            "rinfo";
        grid-template-rows: 50% 50%;
        grid-template-columns: 100%;
        position: relative;
        margin: 0 2rem 3rem 2rem;
        .staff-left {
            height: 100%;
            font-size: 1.6rem;
            border-right: none;
            padding: 0 3rem;
            .left-picture {
                .profile-image-form {
                    grid-template-columns: 100%;
                    grid-template-rows: 74% 13% 13%;
                    grid-template-areas:
                        "pimage"
                        "upload"
                        "delete";
                    gap: 4rem;
                    label {
                        .profile-image {
                            width: 200px;
                            height: 200px;
                        }
                        .change-profile-image {
                            top: 35%;
                            left: 25%;
                        }
                    }
                    label:before {
                        width: 180px;
                        height: 180px;
                    }
                    .profile-image-submit,
                    .disabled-image-submit {
                        color: $white;
                        background: $green;
                        border: $green;
                    }
                    .delete-profile-image {
                        color: $white;
                        background: $red;
                        border: $red;
                    }
                }
                @-moz-document url-prefix() {
                    .profile-image-form {
                        margin-top: 6rem;
                        #profile_image_submit {
                            margin-top: 6rem;
                        }
                    }
                }
            }
            .staff-left-info {
                height: 80%;
            }
        }
        .staff-right {
            grid-template-rows: 30% 70%;
            height: 100%;
            font-size: 1.6rem;
            padding: 0 3rem;
            .top-right {
                grid-template-rows: 80% 10% 10%;
                grid-template-columns: 75% 25%;
                grid-template-areas:
                    "return return"
                    "name logout"
                    "email email";
                width: 100%;
                height: 21%;
                align-items: center;
                text-align: center;
                position: absolute;
                bottom: 79%;
                left: 0%;
                .name-right {
                    font-size: 2.2rem;
                }
                .logout-right {
                    grid-area: logout;
                    display: block;
                    padding-right: 1.3rem;
                    .logout-button {
                        width: 60px;
                        height: 30px;
                        border-radius: 5px;
                        outline: none;
                        font-size: 1.2rem;
                        font-weight: $semibold;
                        background: $red;
                        border: $red;
                        color: $white;
                    }
                }
                .profile-return {
                    align-self: start;
                    padding: 2rem 1.5rem;
                    justify-self: end;
                    text-align: unset;
                    position: fixed;
                    height: 52px;
                    width: 60px;
                    left: 74%;
                    bottom: 73.8%;
                    background: $blue;
                    z-index: 5;
                    border-radius: 5px;
                    svg {
                        height: 15px;
                        width: 30px;
                        fill: $white;
                    }
                }
                .email-role-right {
                    grid-area: email;
                    font-size: 1.4rem;
                }
            }
            .bio-right {
                label {
                    font-size: 1.6rem;
                }
            }
            .bottom-right {
                grid-template-columns: 100%;
                grid-template-rows: 50% 50%;
                .right-chart {
                    width: 90%;
                    height: 100%;
                    #titleChart {
                        font-size: 1.6rem;
                    }
                }
            }
            @-moz-document url-prefix() {
                .bio-right,
                .bottom-right {
                    width: 90%;
                }
            }
        }
    }
    #deleteimagemodal {
        height: 74%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20rem;
        .modal-header {
            grid-gap: 12rem;
        }
        .modal-body {
            .delete-submit-button {
                background: $red;
                border: $red;
                color: $white;
            }
            .delete-cancel-button {
                background: $lightblue;
                border: $lightblue;
                color: $white;
            }
        }
    }
}
