/* Colors */
/* Font Weights */
.staff-details {
  width: 93%;
  height: 75vh;
  display: grid;
  grid-template-areas: "linfo rinfo";
  grid-template-columns: 35% 65%;
  grid-template-rows: 100%;
  overflow: hidden;
  background: #F9F9F9;
  border: 1px solid #EBEBEB;
  border-radius: 10px;
}
.staff-details .staff-left {
  display: grid;
  grid-template-rows: 35% 65%;
  align-items: center;
  padding: 0 4rem;
  font-size: 2.2rem;
  border-right: 1px solid #EBEBEB;
}
.staff-details .staff-left .staff-left-info {
  display: grid;
  grid-template-columns: 40% 60%;
  height: 100%;
}
.staff-details .staff-left .staff-left-info .left-info,
.staff-details .staff-left .staff-left-info .left-values {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.staff-details .staff-left .staff-left-info .left-info {
  font-weight: 600;
  color: #2B777D;
}
.staff-details .staff-left .staff-left-info .left-values {
  align-items: flex-end;
}
.staff-details .staff-right {
  display: grid;
  grid-template-rows: 18% 25% 57%;
  align-items: center;
  padding: 0 4rem;
  font-size: 2.2rem;
}
.staff-details .staff-right .top-right {
  display: grid;
  grid-template-rows: 60% 40%;
  grid-template-columns: 85% 15%;
  grid-template-areas: "name return" "email email";
  height: 70%;
  align-items: flex-end;
}
.staff-details .staff-right .top-right .profile-return {
  grid-area: return;
  text-align: right;
  align-self: center;
}
.staff-details .staff-right .top-right .profile-return svg {
  height: 20px;
  width: 40px;
  text-align: center;
  fill: #2B777D;
  cursor: pointer;
}
.staff-details .staff-right .top-right .profile-return svg:hover {
  fill: #5FBE6E;
}
.staff-details .staff-right .top-right .name-right {
  grid-area: name;
  font-size: 4.6rem;
  font-weight: 600;
  color: #2B777D;
}
.staff-details .staff-right .top-right .email-right {
  grid-area: email;
  color: #5FBE6E;
}
.staff-details .staff-right .bio-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 85%;
}
.staff-details .staff-right .bio-right label {
  font-size: 3.2rem;
  font-weight: 600;
  color: #2B777D;
}
.staff-details .staff-right .bio-right textarea {
  font-size: 1.6rem;
  background: #F9F9F9;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  outline: none;
  padding: 1rem;
}
.staff-details .staff-right .bio-right textarea:focus {
  background: white;
}
.staff-details .staff-right .bottom-right {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
}
.staff-details .staff-right .bottom-right .staff-right-info {
  display: grid;
  grid-template-columns: 40% 60%;
}
.staff-details .staff-right .bottom-right .staff-right-info .right-info,
.staff-details .staff-right .bottom-right .staff-right-info .right-values {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.staff-details .staff-right .bottom-right .staff-right-info .right-info {
  font-weight: 600;
  color: #2B777D;
}
.staff-details .staff-right .bottom-right .staff-right-info .right-values {
  align-items: flex-end;
}
.staff-details .staff-right .bottom-right .right-chart {
  width: 75%;
  height: 85%;
  align-self: center;
  justify-self: center;
  text-align: center;
}
.staff-details .staff-right .bottom-right .right-chart #titleChart {
  font-size: 2.2rem;
  color: #262626;
  font-weight: 600;
  padding: 1rem 0;
  opacity: 0.5;
}/*# sourceMappingURL=profile.css.map */