// Import variables
@use "variables" as *;

// All Staff section styling
main {
    display: grid;
    grid-template-areas:
        "sfilter"
        "scards";
    padding-top: 2rem;
    gap: 3rem;
    grid-template-rows: 5% 1fr;
    overflow: hidden;
}
.filter-by {
    grid-area: sfilter;
    width: 93%;
    font-size: 1.6rem;
    font-weight: $semibold;
    color: $green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    .filter {
        display: none;
    }
    .filter-button {
        width: 150px;
        height: 30px;
        background: none;
        font-size: 1.4rem;
        font-weight: $semibold;
        color: $blue;
        border: 2px solid $blue;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
            background: $green;
            color: $white;
            border: $green;
        }
    }
    .active-filter {
        background: $green;
        color: $white;
        border: $green;
    }
    .inactive-filter {
        opacity: 0.5;
    }
}
// Scrollbar Styling Chrome & Safari & Opera
.staff-container::-webkit-scrollbar {
    width: 1.5rem;
}
.staff-container::-webkit-scrollbar-track {
    background: $blue;
    border-radius: 4px;
}
.staff-container::-webkit-scrollbar-thumb {
    background: $lightblue;
    border-radius: 4px;
}
.staff-container::-webkit-scrollbar-thumb:hover {
    background: $green;
}
.staff-container {
    grid-area: scards;
    height: 73vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    padding: 0 10rem 4rem 0;
    overflow: overlay;
    // Scrollbar Styling : Firefox
    scrollbar-width: thin;
    scrollbar-color: $green $blue;
    .staff-card {
        display: grid;
        grid-template-areas:
            "chead"
            "cbody";
        grid-template-rows: 25% 75%;
        width: 453px;
        height: 338px;
        background: $white;
        border: 1px solid $gray;
        border-radius: 11px;
        cursor: pointer;
        &:hover {
            border: 1px solid $blue;
        }
        .staff-id {
            display: none;
        }
        .card-header {
            grid-area: chead;
            display: grid;
            grid-template-columns: 20% 60% 20%;
            justify-content: center;
            align-content: center;
            color: $blue;
            background: $gray;
            border-radius: 10px 10px 0 0;
            width: 100%;
            height: 100%;
            text-align: left;
            .card-image-container {
                position: relative;
                text-align: center;
                .card-image {
                    width: 48px;
                    height: 48px;
                    object-fit: cover;
                    border-radius: 100%;
                }
            }
            .card-image-container:before {
                content: "";
                width: 42px;
                height: 42px;
                position: absolute;
                border: 3px solid $blue;
                border-radius: 50%;
            }
            .fullname {
                font-size: 2.4rem;
                font-weight: $semibold;
            }
            .role {
                font-size: 1.6rem;
                font-weight: $regular;
            }
            .card-status {
                font-size: 1.6rem;
                font-weight: $semibold;
                align-self: center;
            }
            .status-active {
                color: $green;
            }
            .status-inactive {
                color: $black;
            }
        }
        .card-body {
            grid-area: cbody;
            font-size: 1.6rem;
            display: grid;
            grid-template-rows: 100%;
            grid-template-columns: 50% 50%;
            align-items: center;
            padding: 0.5rem 2rem;
            .details,
            .values {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 100%;
            }
            .details {
                font-weight: $semibold;
                color: $blue;
            }
            .values {
                align-items: flex-end;
            }
        }
    }
    .hidden-card {
        display: none;
    }
}
@-moz-document url-prefix() {
    .staff-container {
        overflow-y: auto;
    }
}
// Staff member profile styling
.staff-details {
    grid-area: sfilter;
    width: 93%;
    height: 81vh;
    display: grid;
    grid-template-areas: "linfo rinfo";
    grid-template-columns: 35% 65%;
    grid-template-rows: 100%;
    overflow: hidden;
    background: $white;
    border: 1px solid $gray;
    border-radius: 10px;
    z-index: 1;
    .staff-left {
        display: grid;
        grid-template-rows: 60% 40%;
        align-items: center;
        padding: 0 4rem;
        font-size: 2.2rem;
        border-right: 1px solid $gray;
        .staff-left-info {
            display: grid;
            grid-template-columns: 40% 60%;
            height: 100%;
            .left-info,
            .left-values {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 100%;
            }
            .left-info {
                font-weight: $semibold;
                color: $blue;
            }
            .left-values {
                align-items: flex-end;
            }
        }
        .left-picture {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto;
            grid-template-areas:
                "pimg"
                "dimg";
            gap: 2rem;
            width: 100%;
            justify-items: center;
            margin: 0 auto;
            position: relative;
            .profile-image {
                height: 300px;
                width: 300px;
                object-fit: cover;
                border-radius: 100%;
                grid-area: pimg;
            }
            .delete-profile-image {
                height: 50px;
                width: 199px;
                background: none;
                outline: none;
                border: 2px solid $blue;
                border-radius: 10px;
                color: $blue;
                font-size: 2rem;
                font-weight: 600;
                grid-area: dimg;
                cursor: pointer;
            }
            .delete-profile-image:hover {
                color: $white;
                background: $red;
                border: $red;
            }
        }
        .left-picture:before {
            content: "";
            width: 280px;
            height: 280px;
            position: absolute;
            border: 10px solid $blue;
            border-radius: 50%;
            transition: 300ms;
        }
    }
    .staff-right {
        display: grid;
        grid-template-rows: 18% 25% 57%;
        align-items: center;
        padding: 0 4rem;
        font-size: 2.2rem;
        .top-right {
            display: grid;
            grid-template-rows: 60% 40%;
            grid-template-columns: 65% 20% 15%;
            grid-template-areas:
                "name setting return"
                "email email email";
            height: 70%;
            align-items: flex-end;
            .account-settings {
                grid-area: setting;
                text-align: center;
                align-self: center;
                button {
                    width: 150px;
                    height: 45px;
                    border-radius: 5px;
                    outline: none;
                    font-size: 1.6rem;
                    font-weight: $semibold;
                    background: none;
                    cursor: pointer;
                    color: $blue;
                    border: 2px solid $blue;
                }
                .activate-account:hover {
                    color: $white;
                    background: $green;
                    border: 2px solid $green;
                }
                .delete-account:hover {
                    color: $white;
                    background: $red;
                    border: 2px solid $red;
                }
            }
            .staff-return {
                grid-area: return;
                text-align: right;
                align-self: center;
                svg {
                    height: 20px;
                    width: 40px;
                    text-align: center;
                    fill: $blue;
                    cursor: pointer;
                    &:hover {
                        fill: $green;
                    }
                }
            }
            .name-right {
                grid-area: name;
                font-size: 4.6rem;
                font-weight: $semibold;
                color: $blue;
            }
            .email-right {
                grid-area: email;
                color: $green;
            }
        }
        .bio-right {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 85%;
            label {
                font-size: 3.2rem;
                font-weight: $semibold;
                color: $blue;
            }
            .bio {
                font-size: 1.6rem;
                background: $white;
                border: 1px solid $gray;
                border-radius: 5px;
                outline: none;
                padding: 1rem;
                height: 100%;
                &:focus {
                    background: white;
                }
            }
        }
        .bottom-right {
            display: grid;
            grid-template-columns: 50% 50%;
            height: 100%;
            .staff-right-info {
                display: grid;
                grid-template-columns: 40% 60%;
                .right-info,
                .right-values {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    padding-top: 5rem;
                }
                .right-info {
                    font-weight: $semibold;
                    color: $blue;
                }
                .right-values {
                    align-items: flex-end;
                }
            }
            .right-chart {
                width: 75%;
                height: 85%;
                align-self: center;
                justify-self: center;
                text-align: center;
                #titleChart {
                    font-size: 2.2rem;
                    color: $black;
                    font-weight: $semibold;
                    padding: 1rem 0;
                    opacity: 0.5;
                }
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    main {
        height: 65vh;
        padding-top: 0;
        grid-template-columns: 100%;
        grid-template-rows: 15% 1fr;
        gap: 2rem;
    }
    .filter-by {
        padding-top: 0;
        width: 86%;
        gap: 3.5rem;
        justify-self: center;
        overflow: auto;
        // Scrollbar Styling : Firefox
        scrollbar-width: thin;
        scrollbar-color: $green $blue;
        .filter-button {
            width: 100px;
            padding: 0 1rem;
        }
        #All {
            padding: 0 2rem;
        }
        span {
            display: none;
        }
    }
    .filter-by::-webkit-scrollbar {
        height: 0.5rem;
    }
    .filter-by::-webkit-scrollbar-thumb {
        background: $green;
        border-radius: 4px;
    }
    .filter-by::-webkit-scrollbar-track {
        background: $blue;
        border-radius: 4px;
    }
    .staff-container::-webkit-scrollbar {
        width: 0.5rem;
    }
    .staff-container::-webkit-scrollbar-thumb {
        background: $green;
    }
    .staff-container {
        height: 100%;
        padding: 0 0 1rem 0;
        grid-row-gap: 3rem;
        justify-items: center;
        grid-template-columns: 100%;
        .staff-card {
            width: 329px;
            .card-header {
                width: 329px;
                grid-template-columns: 25% 70%;
                position: relative;
                .fullname {
                    font-size: 2rem;
                }
                .role {
                    font-size: 1.4rem;
                }
                .card-status {
                    position: absolute;
                    bottom: 33%;
                    font-size: 1.4rem;
                    left: 50%;
                }
            }
            .card-body {
                font-size: 1.4rem;
                padding: 0.5rem 1.5rem;
            }
        }
    }
    .staff-container:last-child {
        margin-bottom: 3rem;
    }
    .staff-details {
        grid-area: scards;
        width: 90%;
        height: 400%;
        grid-template-areas:
            "linfo"
            "rinfo";
        grid-template-rows: 50% 50%;
        grid-template-columns: 100%;
        position: relative;
        margin: 0 2rem 3rem 2rem;
        .staff-left {
            height: 100%;
            font-size: 1.6rem;
            border-right: none;
            padding: 0 3rem;
            .left-picture {
                gap: 13.4rem;
                grid-template-rows: auto;
                .profile-image {
                    width: 200px;
                    height: 200px;
                }
                .change-profile-image {
                    top: 35%;
                    left: 25%;
                }
                .delete-profile-image {
                    color: $white;
                    background: $red;
                    border: $red;
                }
            }
            .left-picture:before {
                width: 180px;
                height: 180px;
            }
            .staff-left-info {
                height: 90%;
            }
        }
        .staff-right {
            grid-template-rows: 30% 70%;
            height: 100%;
            font-size: 1.6rem;
            padding: 0 3rem;
            .top-right {
                grid-template-rows: 80% 10% 10%;
                grid-template-columns: 75% 25%;
                grid-template-areas:
                    "return return"
                    "name setting"
                    "email email";
                width: 100%;
                height: 21%;
                align-items: center;
                text-align: center;
                position: absolute;
                bottom: 79%;
                left: 0%;
                .name-right {
                    font-size: 2.2rem;
                }
                .account-settings {
                    padding-right: 1.3rem;
                    button {
                        width: 60px;
                        height: 30px;
                        font-size: 1.2rem;
                    }
                    .activate-account {
                        background: $green;
                        border: $green;
                        color: $white;
                    }
                    .delete-account {
                        background: $red;
                        border: $red;
                        color: $white;
                    }
                }
                .staff-return {
                    align-self: start;
                    padding: 2rem 1.5rem;
                    justify-self: end;
                    text-align: unset;
                    position: fixed;
                    height: 52px;
                    width: 60px;
                    left: 74%;
                    bottom: 62%;
                    background: $blue;
                    z-index: 5;
                    border-radius: 5px;
                    svg {
                        height: 15px;
                        width: 30px;
                        fill: $white;
                    }
                }
                .email-role-right {
                    grid-area: email;
                    font-size: 1.4rem;
                }
            }
            .bio-right {
                label {
                    font-size: 1.6rem;
                }
                #bio {
                    font-size: 1.6rem;
                    color: $blue;
                }
            }
            .bottom-right {
                grid-template-columns: 100%;
                grid-template-rows: 50% 50%;
                .right-chart {
                    width: 90%;
                    height: 100%;
                    #titleChart {
                        font-size: 1.6rem;
                    }
                }
            }
            @-moz-document url-prefix() {
                .bio-right,
                .bottom-right {
                    width: 90%;
                }
            }
        }
    }
    #deletemodal,
    #deleteimagemodal {
        height: 74%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20rem;
        .modal-header {
            grid-gap: 12rem;
        }
        .modal-body {
            .delete-submit-button {
                background: $red;
                border: $red;
                color: $white;
            }
            .delete-cancel-button {
                background: $lightblue;
                border: $lightblue;
                color: $white;
            }
        }
    }
    #activatemodal {
        height: 74%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 7rem;
        .modal-header {
            grid-gap: 2rem;
        }
        .modal-body {
            .activate-submit-button {
                background: $green;
                border: $green;
                color: $white;
            }
        }
    }
}
