// Import variables
@use "variables" as *;

// All Staff section styling
.staff-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    place-items: center;
    padding: 0 10rem 4rem 0;
    .staff-card {
        display: grid;
        grid-template-areas:
            "chead"
            "cbody";
        grid-template-rows: 25% 75%;
        width: 445px;
        height: 344px;
        background: $white;
        border: 1px solid $gray;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
            border: 1px solid $blue;
        }
        .staff-id {
            display: none;
        }
        .card-header {
            grid-area: chead;
            display: grid;
            grid-template-columns: 20% 60% 20%;
            justify-content: center;
            align-content: center;
            color: $blue;
            background: $gray;
            border-radius: 10px 10px 0 0;
            width: 100%;
            height: 100%;
            text-align: left;
            .card-image {
                text-align: center;
                .card-profile {
                    fill: $blue;
                }
            }
            .fullname {
                font-size: 2.4rem;
                font-weight: $semibold;
            }
            .role {
                font-size: 1.6rem;
                font-weight: $regular;
            }
            .card-status {
                font-size: 1.6rem;
                font-weight: $semibold;
                align-self: center;
            }
            .status-active {
                color: $green;
            }
            .status-inactive {
                color: $black;
            }
        }
        .card-body {
            grid-area: cbody;
            font-size: 1.6rem;
            display: grid;
            grid-template-rows: 100%;
            grid-template-columns: 50% 50%;
            align-items: center;
            padding: 0.5rem 2rem;
            .details,
            .values {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 100%;
            }
            .details {
                font-weight: $semibold;
                color: $blue;
            }
            .values {
                align-items: flex-end;
            }
        }
    }
}
// Staff member profile styling
.staff-details {
    width: 93%;
    height: 75vh;
    display: grid;
    grid-template-areas: "linfo rinfo";
    grid-template-columns: 35% 65%;
    grid-template-rows: 100%;
    overflow: hidden;
    background: $white;
    border: 1px solid $gray;
    border-radius: 10px;
    .staff-left {
        display: grid;
        grid-template-rows: 35% 65%;
        align-items: center;
        padding: 0 4rem;
        font-size: 2.2rem;
        border-right: 1px solid $gray;
        .staff-left-info {
            display: grid;
            grid-template-columns: 40% 60%;
            height: 100%;
            .left-info,
            .left-values {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 100%;
            }
            .left-info {
                font-weight: $semibold;
                color: $blue;
            }
            .left-values {
                align-items: flex-end;
            }
        }
    }
    .staff-right {
        display: grid;
        grid-template-rows: 18% 25% 57%;
        align-items: center;
        padding: 0 4rem;
        font-size: 2.2rem;
        .top-right {
            display: grid;
            grid-template-rows: 60% 40%;
            grid-template-columns: 65% 20% 15%;
            grid-template-areas:
                "name setting return"
                "email email email";
            height: 70%;
            align-items: flex-end;
            .account-settings {
                grid-area: setting;
                text-align: center;
                align-self: center;
                button {
                    width: 150px;
                    height: 45px;
                    border-radius: 5px;
                    outline: none;
                    font-size: 1.6rem;
                    font-weight: $semibold;
                    background: none;
                    cursor: pointer;
                    color: $blue;
                    border: 2px solid $blue;
                }
                .activate-account:hover {
                    color: $white;
                    background: $green;
                    border: 2px solid $green;
                }
                .delete-account:hover {
                    color: $white;
                    background: $red;
                    border: 2px solid $red;
                }
            }
            .staff-return {
                grid-area: return;
                text-align: right;
                align-self: center;
                svg {
                    height: 20px;
                    width: 40px;
                    text-align: center;
                    fill: $blue;
                    cursor: pointer;
                    &:hover {
                        fill: $green;
                    }
                }
            }
            .name-right {
                grid-area: name;
                font-size: 4.6rem;
                font-weight: $semibold;
                color: $blue;
            }
            .email-right {
                grid-area: email;
                color: $green;
            }
        }
        .bio-right {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 85%;
            label {
                font-size: 3.2rem;
                font-weight: $semibold;
                color: $blue;
            }
            textarea {
                font-size: 1.6rem;
                background: $white;
                border: 1px solid $gray;
                border-radius: 5px;
                outline: none;
                padding: 1rem;
                height: 100%;
                &:focus {
                    background: white;
                }
            }
        }
        .bottom-right {
            display: grid;
            grid-template-columns: 50% 50%;
            height: 100%;
            .staff-right-info {
                display: grid;
                grid-template-columns: 40% 60%;
                .right-info,
                .right-values {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                }
                .right-info {
                    font-weight: $semibold;
                    color: $blue;
                }
                .right-values {
                    align-items: flex-end;
                }
            }
            .right-chart {
                width: 75%;
                height: 85%;
                align-self: center;
                justify-self: center;
                text-align: center;
                #titleChart {
                    font-size: 2.2rem;
                    color: $black;
                    font-weight: $semibold;
                    padding: 1rem 0;
                    opacity: 0.5;
                }
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    main {
        padding-top: 3rem;
        overflow: auto;
    }
    .staff-container {
        padding: 0 0 3rem 0;
        justify-content: center;
        .staff-card {
            width: 329px;
            .card-header {
                width: 329px;
                grid-template-columns: 25% 70%;
                position: relative;
                .fullname {
                    font-size: 2rem;
                }
                .role {
                    font-size: 1.4rem;
                }
                .card-status {
                    position: absolute;
                    bottom: 33%;
                    font-size: 1.4rem;
                    left: 50%;
                }
            }
            .card-body {
                font-size: 1.4rem;
                padding: 0.5rem 1.5rem;
            }
        }
    }
    .staff-container:last-child {
        margin-bottom: 3rem;
    }
    .staff-details {
        width: 90%;
        height: 290%;
        grid-template-areas:
            "linfo"
            "rinfo";
        grid-template-rows: 50% 50%;
        grid-template-columns: 100%;
        position: relative;
        margin: 0 2rem 3rem 2rem;
        .staff-left {
            height: 100%;
            font-size: 1.6rem;
            border-right: none;
            padding: 0 3rem;
            .staff-left-info {
                height: 80%;
            }
        }
        .staff-right {
            grid-template-rows: 30% 70%;
            height: 100%;
            font-size: 1.6rem;
            padding: 0 3rem;
            .top-right {
                grid-template-rows: 80% 10% 10%;
                grid-template-columns: 75% 25%;
                grid-template-areas:
                    "return return"
                    "name setting"
                    "email email";
                width: 100%;
                height: 21%;
                align-items: center;
                text-align: center;
                position: absolute;
                bottom: 79%;
                left: 0%;
                .name-right {
                    font-size: 2.2rem;
                }
                .account-settings {
                    padding-right: 1.3rem;
                    button {
                        width: 60px;
                        height: 30px;
                        font-size: 1.2rem;
                    }
                    .activate-account {
                        background: $green;
                        border: $green;
                        color: $white;
                    }
                    .delete-account {
                        background: $red;
                        border: $red;
                        color: $white;
                    }
                }
                .staff-return {
                    align-self: start;
                    padding: 2rem 1.5rem;
                    justify-self: end;
                    text-align: unset;
                    position: fixed;
                    height: 52px;
                    width: 60px;
                    left: 74%;
                    bottom: 73.8%;
                    background: $blue;
                    z-index: 5;
                    border-radius: 5px;
                    svg {
                        height: 15px;
                        width: 30px;
                        fill: $white;
                    }
                }
                .email-role-right {
                    grid-area: email;
                    font-size: 1.4rem;
                }
            }
            .bio-right {
                label {
                    font-size: 1.6rem;
                }
            }
            .bottom-right {
                grid-template-columns: 100%;
                grid-template-rows: 50% 50%;
                .right-chart {
                    width: 90%;
                    height: 100%;
                    #titleChart {
                        font-size: 1.6rem;
                    }
                }
            }
            @-moz-document url-prefix() {
                .bio-right,
                .bottom-right {
                    width: 90%;
                }
            }
        }
    }
    #deletemodal {
        height: 74%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20rem;
        .modal-header {
            grid-gap: 12rem;
        }
        .modal-body {
            .delete-submit-button {
                background: $red;
                border: $red;
                color: $white;
            }
            .delete-cancel-button {
                background: $lightblue;
                border: $lightblue;
                color: $white;
            }
        }
    }
    #activatemodal {
        height: 74%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 7rem;
        .modal-header {
            grid-gap: 2rem;
        }
        .modal-body {
            .activate-submit-button {
                background: $green;
                border: $green;
                color: $white;
            }
        }
    }
}
