/* Colors */
/* Font Weights */
.staff-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  place-items: center;
  padding: 0 10rem 4rem 0;
}
.staff-container .staff-card {
  display: grid;
  grid-template-areas: "chead" "cbody";
  grid-template-rows: 25% 75%;
  width: 445px;
  height: 344px;
  background: #F9F9F9;
  border: 1px solid #EBEBEB;
  border-radius: 10px;
  cursor: pointer;
}
.staff-container .staff-card:hover {
  border: 1px solid #2B777D;
}
.staff-container .staff-card .staff-id {
  display: none;
}
.staff-container .staff-card .card-header {
  grid-area: chead;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  justify-content: center;
  align-content: center;
  color: #2B777D;
  background: #EBEBEB;
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 100%;
  text-align: left;
}
.staff-container .staff-card .card-header .card-image-container {
  position: relative;
  text-align: center;
}
.staff-container .staff-card .card-header .card-image-container .card-image {
  width: 48px;
  height: 48px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}
.staff-container .staff-card .card-header .card-image-container:before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  border: 3px solid #2B777D;
  border-radius: 50%;
}
.staff-container .staff-card .card-header .fullname {
  font-size: 2.4rem;
  font-weight: 600;
}
.staff-container .staff-card .card-header .role {
  font-size: 1.6rem;
  font-weight: 400;
}
.staff-container .staff-card .card-header .card-status {
  font-size: 1.6rem;
  font-weight: 600;
  align-self: center;
}
.staff-container .staff-card .card-header .status-active {
  color: #5FBE6E;
}
.staff-container .staff-card .card-header .status-inactive {
  color: #262626;
}
.staff-container .staff-card .card-body {
  grid-area: cbody;
  font-size: 1.6rem;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 50% 50%;
  align-items: center;
  padding: 0.5rem 2rem;
}
.staff-container .staff-card .card-body .details,
.staff-container .staff-card .card-body .values {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.staff-container .staff-card .card-body .details {
  font-weight: 600;
  color: #2B777D;
}
.staff-container .staff-card .card-body .values {
  align-items: flex-end;
}

.staff-details {
  width: 93%;
  height: 75vh;
  display: grid;
  grid-template-areas: "linfo rinfo";
  grid-template-columns: 35% 65%;
  grid-template-rows: 100%;
  overflow: hidden;
  background: #F9F9F9;
  border: 1px solid #EBEBEB;
  border-radius: 10px;
}
.staff-details .staff-left {
  display: grid;
  grid-template-rows: 60% 40%;
  align-items: center;
  padding: 0 4rem;
  font-size: 2.2rem;
  border-right: 1px solid #EBEBEB;
}
.staff-details .staff-left .staff-left-info {
  display: grid;
  grid-template-columns: 40% 60%;
  height: 100%;
}
.staff-details .staff-left .staff-left-info .left-info,
.staff-details .staff-left .staff-left-info .left-values {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.staff-details .staff-left .staff-left-info .left-info {
  font-weight: 600;
  color: #2B777D;
}
.staff-details .staff-left .staff-left-info .left-values {
  align-items: flex-end;
}
.staff-details .staff-left .left-picture {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "pimg" "dimg";
  gap: 2rem;
  width: 100%;
  justify-items: center;
  margin: 0 auto;
  position: relative;
}
.staff-details .staff-left .left-picture .profile-image {
  height: 300px;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  grid-area: pimg;
}
.staff-details .staff-left .left-picture .delete-profile-image {
  height: 50px;
  width: 199px;
  background: none;
  outline: none;
  border: 2px solid #2B777D;
  border-radius: 10px;
  color: #2B777D;
  font-size: 2rem;
  font-weight: 600;
  grid-area: dimg;
  cursor: pointer;
}
.staff-details .staff-left .left-picture .delete-profile-image:hover {
  color: #F9F9F9;
  background: #C94242;
  border: #C94242;
}
.staff-details .staff-left .left-picture:before {
  content: "";
  width: 280px;
  height: 280px;
  position: absolute;
  border: 10px solid #2B777D;
  border-radius: 50%;
  transition: 300ms;
}
.staff-details .staff-right {
  display: grid;
  grid-template-rows: 18% 25% 57%;
  align-items: center;
  padding: 0 4rem;
  font-size: 2.2rem;
}
.staff-details .staff-right .top-right {
  display: grid;
  grid-template-rows: 60% 40%;
  grid-template-columns: 65% 20% 15%;
  grid-template-areas: "name setting return" "email email email";
  height: 70%;
  align-items: flex-end;
}
.staff-details .staff-right .top-right .account-settings {
  grid-area: setting;
  text-align: center;
  align-self: center;
}
.staff-details .staff-right .top-right .account-settings button {
  width: 150px;
  height: 45px;
  border-radius: 5px;
  outline: none;
  font-size: 1.6rem;
  font-weight: 600;
  background: none;
  cursor: pointer;
  color: #2B777D;
  border: 2px solid #2B777D;
}
.staff-details .staff-right .top-right .account-settings .activate-account:hover {
  color: #F9F9F9;
  background: #5FBE6E;
  border: 2px solid #5FBE6E;
}
.staff-details .staff-right .top-right .account-settings .delete-account:hover {
  color: #F9F9F9;
  background: #C94242;
  border: 2px solid #C94242;
}
.staff-details .staff-right .top-right .staff-return {
  grid-area: return;
  text-align: right;
  align-self: center;
}
.staff-details .staff-right .top-right .staff-return svg {
  height: 20px;
  width: 40px;
  text-align: center;
  fill: #2B777D;
  cursor: pointer;
}
.staff-details .staff-right .top-right .staff-return svg:hover {
  fill: #5FBE6E;
}
.staff-details .staff-right .top-right .name-right {
  grid-area: name;
  font-size: 4.6rem;
  font-weight: 600;
  color: #2B777D;
}
.staff-details .staff-right .top-right .email-right {
  grid-area: email;
  color: #5FBE6E;
}
.staff-details .staff-right .bio-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 85%;
}
.staff-details .staff-right .bio-right label {
  font-size: 3.2rem;
  font-weight: 600;
  color: #2B777D;
}
.staff-details .staff-right .bio-right textarea {
  font-size: 1.6rem;
  background: #F9F9F9;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  outline: none;
  padding: 1rem;
  height: 100%;
}
.staff-details .staff-right .bio-right textarea:focus {
  background: white;
}
.staff-details .staff-right .bottom-right {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
}
.staff-details .staff-right .bottom-right .staff-right-info {
  display: grid;
  grid-template-columns: 40% 60%;
}
.staff-details .staff-right .bottom-right .staff-right-info .right-info,
.staff-details .staff-right .bottom-right .staff-right-info .right-values {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 5rem;
}
.staff-details .staff-right .bottom-right .staff-right-info .right-info {
  font-weight: 600;
  color: #2B777D;
}
.staff-details .staff-right .bottom-right .staff-right-info .right-values {
  align-items: flex-end;
}
.staff-details .staff-right .bottom-right .right-chart {
  width: 75%;
  height: 85%;
  align-self: center;
  justify-self: center;
  text-align: center;
}
.staff-details .staff-right .bottom-right .right-chart #titleChart {
  font-size: 2.2rem;
  color: #262626;
  font-weight: 600;
  padding: 1rem 0;
  opacity: 0.5;
}

@media only screen and (max-width: 768px) {
  main {
    padding-top: 3rem;
    overflow: auto;
  }

  .staff-container {
    padding: 0 0 3rem 0;
    justify-content: center;
  }
  .staff-container .staff-card {
    width: 329px;
  }
  .staff-container .staff-card .card-header {
    width: 329px;
    grid-template-columns: 25% 70%;
    position: relative;
  }
  .staff-container .staff-card .card-header .fullname {
    font-size: 2rem;
  }
  .staff-container .staff-card .card-header .role {
    font-size: 1.4rem;
  }
  .staff-container .staff-card .card-header .card-status {
    position: absolute;
    bottom: 33%;
    font-size: 1.4rem;
    left: 50%;
  }
  .staff-container .staff-card .card-body {
    font-size: 1.4rem;
    padding: 0.5rem 1.5rem;
  }

  .staff-container:last-child {
    margin-bottom: 3rem;
  }

  .staff-details {
    width: 90%;
    height: 290%;
    grid-template-areas: "linfo" "rinfo";
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
    position: relative;
    margin: 0 2rem 3rem 2rem;
  }
  .staff-details .staff-left {
    height: 100%;
    font-size: 1.6rem;
    border-right: none;
    padding: 0 3rem;
  }
  .staff-details .staff-left .staff-left-info {
    height: 80%;
  }
  .staff-details .staff-right {
    grid-template-rows: 30% 70%;
    height: 100%;
    font-size: 1.6rem;
    padding: 0 3rem;
  }
  .staff-details .staff-right .top-right {
    grid-template-rows: 80% 10% 10%;
    grid-template-columns: 75% 25%;
    grid-template-areas: "return return" "name setting" "email email";
    width: 100%;
    height: 21%;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 79%;
    left: 0%;
  }
  .staff-details .staff-right .top-right .name-right {
    font-size: 2.2rem;
  }
  .staff-details .staff-right .top-right .account-settings {
    padding-right: 1.3rem;
  }
  .staff-details .staff-right .top-right .account-settings button {
    width: 60px;
    height: 30px;
    font-size: 1.2rem;
  }
  .staff-details .staff-right .top-right .account-settings .activate-account {
    background: #5FBE6E;
    border: #5FBE6E;
    color: #F9F9F9;
  }
  .staff-details .staff-right .top-right .account-settings .delete-account {
    background: #C94242;
    border: #C94242;
    color: #F9F9F9;
  }
  .staff-details .staff-right .top-right .staff-return {
    align-self: start;
    padding: 2rem 1.5rem;
    justify-self: end;
    text-align: unset;
    position: fixed;
    height: 52px;
    width: 60px;
    left: 74%;
    bottom: 73.8%;
    background: #2B777D;
    z-index: 5;
    border-radius: 5px;
  }
  .staff-details .staff-right .top-right .staff-return svg {
    height: 15px;
    width: 30px;
    fill: #F9F9F9;
  }
  .staff-details .staff-right .top-right .email-role-right {
    grid-area: email;
    font-size: 1.4rem;
  }
  .staff-details .staff-right .bio-right label {
    font-size: 1.6rem;
  }
  .staff-details .staff-right .bottom-right {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
  }
  .staff-details .staff-right .bottom-right .right-chart {
    width: 90%;
    height: 100%;
  }
  .staff-details .staff-right .bottom-right .right-chart #titleChart {
    font-size: 1.6rem;
  }
  @-moz-document url-prefix() {
    .staff-details .staff-right .bio-right,
.staff-details .staff-right .bottom-right {
      width: 90%;
    }
  }

  #deletemodal {
    height: 74%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20rem;
  }
  #deletemodal .modal-header {
    grid-gap: 12rem;
  }
  #deletemodal .modal-body .delete-submit-button {
    background: #C94242;
    border: #C94242;
    color: #F9F9F9;
  }
  #deletemodal .modal-body .delete-cancel-button {
    background: #5FBEBC;
    border: #5FBEBC;
    color: #F9F9F9;
  }

  #activatemodal {
    height: 74%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7rem;
  }
  #activatemodal .modal-header {
    grid-gap: 2rem;
  }
  #activatemodal .modal-body .activate-submit-button {
    background: #5FBE6E;
    border: #5FBE6E;
    color: #F9F9F9;
  }
}/*# sourceMappingURL=staff.css.map */