// Import variables
@use "variables" as *;

// Disable overflow for this page by default
main {
    overflow: hidden;
}

// Tickets section styling
.tickets {
    width: 100%;
    height: 75vh;
    display: grid;
    grid-template-areas:
        "thead"
        "tfilter"
        "tbody";
    grid-template-columns: 100%;
    grid-template-rows: 15% 5% 1fr;
    grid-gap: 3rem;
    overflow: hidden;
    .thead {
        grid-area: thead;
        width: 93%;
        background: $white;
        border: 2px solid $blue;
        border-radius: 10px;
        font-size: 2.8rem;
        font-weight: $semibold;
        color: $blue;
        ul {
            height: 100%;
            display: grid;
            align-items: center;
            list-style: none;
            grid-template-columns: 16% 12% 24% 17% 17% 14%;
            text-align: center;
        }
    }
    .filter-by {
        grid-area: tfilter;
        width: 93%;
        font-size: 1.6rem;
        font-weight: $semibold;
        color: $green;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .filter {
            display: none;
        }
        .filter-button {
            width: 80px;
            height: 30px;
            background: none;
            font-size: 1.4rem;
            font-weight: $semibold;
            color: $blue;
            border: 2px solid $blue;
            border-radius: 5px;
            cursor: pointer;
            &:hover {
                background: $green;
                color: $white;
                border: $green;
            }
        }
        .active-filter {
            background: $green;
            color: $white;
            border: $green;
        }
    }
    .tbody {
        grid-area: tbody;
        // Scrollbar Styling : Firefox
        scrollbar-width: thin;
        scrollbar-color: $green $blue;
        width: 100%;
        font-size: 2.4rem;
        font-weight: $regular;
        color: $blue;
        height: 100%;
        overflow-y: overlay;
        ul {
            height: 16.6%;
            width: 93%;
            background: $white;
            border: 1px solid $gray;
            display: grid;
            align-items: center;
            grid-template-columns: 16% 12% 24% 17% 18% 13%;
            text-align: center;
            list-style: none;
            border-bottom: 1px solid $gray;
            cursor: pointer;
            &:hover {
                background: $gray;
                .priority {
                    #High_Icon {
                        #Icon_feather-triangle {
                            fill: $red;
                            stroke: $red;
                        }
                        #H {
                            fill: $white;
                        }
                    }
                    #Medium_Icon {
                        #Icon_awesome-square {
                            fill: $yellow;
                            stroke: $yellow;
                        }
                        #M {
                            fill: $white;
                        }
                    }
                    #Low_Icon {
                        #Icon_feather-triangle {
                            fill: $green;
                            stroke: $green;
                        }
                        #L {
                            fill: $white;
                        }
                    }
                }
            }
            // &:first-child {
            //     border-radius: 10px 10px 0 0;
            // }
            // &:last-child {
            //     border-radius: 0 0 10px 10px;
            // }
            .ticket_id {
                display: none;
            }
            .title {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            li {
                .mobile-span {
                    display: none;
                }
                .hidden-prio {
                    display: none;
                }
            }
            .hidden-col {
                display: none;
            }
        }
        .hidden-row {
            display: none;
        }
    }
    @-moz-document url-prefix() {
        .tbody {
            overflow-y: auto;
        }
    }
    // Scrollbar Styling Chrome & Safari & Opera
    .tbody::-webkit-scrollbar {
        width: 1.5rem;
    }
    .tbody::-webkit-scrollbar-track {
        background: $blue;
        border-radius: 4px;
    }
    .tbody::-webkit-scrollbar-thumb {
        background: $lightblue;
        border-radius: 4px;
    }
    .tbody::-webkit-scrollbar-thumb:hover {
        background: $green;
    }
}

// Individual Ticket styling
.ticket-details {
    display: none;
    width: 93%;
    height: 75vh;
    grid-template-areas:
        "tkstatus tktitle"
        "tkinfo tkcontent"
        "tkinfo tkbuttons"
        "tkinfo tknote";
    grid-template-columns: 25% 75%;
    grid-template-rows: 15% 35% 10% 40%;
    overflow: hidden;
    background: $white;
    border: 1px solid $gray;
    border-radius: 10px;
    .ticket-status-container {
        grid-area: tkstatus;
        display: grid;
        align-content: center;
        justify-content: center;
        border-right: 1px solid $gray;
        border-bottom: 1px solid $gray;
        .ticket-status {
            background: $purple;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 221px;
            height: 52px;
            padding: 0 2rem;
            font-size: 1.8rem;
            font-weight: $semibold;
            color: $white;
            border-radius: 5px;
            .status-icon {
                width: 20px;
                height: 20px;
            }
        }
    }
    .ticket-info-container {
        grid-area: tkinfo;
        border-right: 1px solid $gray;
        display: grid;
        grid-template-columns: 43% 57%;
        justify-items: center;
        .ticket-info {
            display: grid;
            grid-template-rows: 12.5%;
            align-items: center;
            font-size: 1.6rem;
            font-weight: $semibold;
            color: $blue;
        }
        .info-values {
            display: grid;
            grid-template-rows: 12.5%;
            align-items: center;
            font-size: 1.6rem;
            color: $black;
            :first-child {
                display: flex;
                gap: 1rem;
                align-items: center;
            }
            .ticket-reported-by-value,
            .ticket-assigned-to-value,
            .ticket-assigned-by-value {
                font-weight: $semibold;
                color: $blue;
            }
        }
    }
    .ticket-title-container {
        grid-area: tktitle;
        display: grid;
        grid-template-columns: 93% 5%;
        align-content: center;
        font-size: 4.2rem;
        font-weight: $semibold;
        color: $blue;
        border-bottom: 1px solid $gray;
        .ticket-title {
            padding-left: 7.5rem;
            align-self: center;
        }
        .tickets-return {
            svg {
                height: 20px;
                width: 40px;
                text-align: center;
                fill: $blue;
                cursor: pointer;
                &:hover {
                    fill: $green;
                }
            }
        }
    }
    .ticket-content-container {
        grid-area: tkcontent;
        display: grid;
        font-size: 2.4rem;
        font-weight: $regular;
        color: $black;
        .ticket-content {
            padding: 0 7.5rem;
            align-self: center;
        }
    }
    .ticket-buttons-container {
        grid-area: tkbuttons;
        display: flex;
        align-items: center;
        gap: 7.5rem;
        justify-content: center;
        .ticket-button {
            font-size: 2.2rem;
            font-weight: $semibold;
            color: $blue;
            text-align: center;
            background: $white;
            border: 2px solid $blue;
            border-radius: 10px;
            width: 256px;
            height: 58px;
            cursor: pointer;
            &:hover {
                background: $green;
                border-color: $green;
                color: $white;
            }
        }
        .ticket-button-disabled {
            font-size: 2.2rem;
            font-weight: $semibold;
            color: $blue;
            text-align: center;
            background: $white;
            border: 2px solid $blue;
            border-radius: 10px;
            width: 256px;
            height: 58px;
            opacity: 0.5;
        }
        .delete-ticket:hover {
            background: $red;
            border: 2px solid $red;
        }
    }
    .ticket-note-container {
        grid-area: tknote;
        background: $lightblue;
        border: 2px solid $blue;
        border-radius: 10px;
        width: 86%;
        height: 85%;
        display: none;
        opacity: 0;
        align-items: center;
        padding: 4rem;
        grid-template-columns: 33.33% 33.33% 33.33%;
        grid-template-rows: 10% 60% 30%;
        grid-template-areas:
            "author author time"
            "ncontent ncontent ncontent"
            "edit delete delete";
        align-self: center;
        justify-self: center;
        transition: opacity 300ms ease-in-out;
        .note-author {
            grid-area: author;
            font-size: 2.2rem;
            font-weight: $semibold;
            color: $blue;
        }
        .note-time {
            grid-area: time;
            font-size: 2.2rem;
            font-weight: $regular;
            color: $gray;
            justify-self: end;
        }
        .note-content {
            grid-area: ncontent;
            font-size: 2.4rem;
            font-weight: $regular;
            color: $white;
        }
        .note-edit,
        .note-delete {
            font-size: 2.2rem;
            font-weight: $semibold;
            color: $blue;
            text-align: center;
            background: $lightblue;
            border: 2px solid $blue;
            border-radius: 10px;
            width: 256px;
            height: 58px;
            cursor: pointer;
        }
        .note-edit {
            grid-area: edit;
            &:hover {
                background: $green;
                color: $white;
                border: 2px solid $green;
            }
        }
        .note-delete {
            grid-area: delete;
            &:hover {
                background: $red;
                color: $white;
                border: 2px solid $red;
            }
        }
    }
    #assignmodal {
        .assign-submit-button {
            width: 1488px;
            max-width: 100%;
            height: 69px;
            border: solid 2px $green;
            border-radius: 10px;
            outline: none;
            padding: 0 1em;
            font-weight: $semibold;
            color: $green;
            background: none;
            font-size: 2.4rem;
            &:hover {
                color: $white;
                background: $green;
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    main {
        overflow: auto;
        padding-top: 0;
    }
    .tickets {
        width: 100%;
        height: 65vh;
        grid-template-areas:
            "tfilter"
            "tbody";
        grid-template-rows: 15% 1fr;
        grid-template-columns: 100%;
        grid-gap: 2rem;
        .thead {
            display: none;
        }
        .filter-by {
            width: 86%;
            gap: 2rem;
            justify-self: center;
            overflow: auto;
            // Scrollbar Styling : Firefox
            scrollbar-width: thin;
            scrollbar-color: $green $blue;
            span {
                display: none;
            }
            .filter-button {
                width: 103px;
                padding: 0 2rem;
            }
        }
        .filter-by::-webkit-scrollbar {
            height: 0.5rem;
        }
        .filter-by::-webkit-scrollbar-thumb {
            background: $green;
            border-radius: 4px;
        }
        .filter-by::-webkit-scrollbar-track {
            background: $blue;
            border-radius: 4px;
        }
        .tbody {
            font-size: 1.6rem;
            scrollbar-width: none;
            ul {
                height: 50%;
                width: 86%;
                margin: 0 2.5rem;
                padding: 2rem;
                grid-template-columns: 100%;
                text-align: right;
                li {
                    display: flex;
                    justify-content: space-between;
                    gap: 3rem;
                    .mobile-span {
                        display: unset;
                        font-weight: $semibold;
                        color: $blue !important;
                    }
                }
                .reported_by {
                    font-weight: $semibold;
                }
                .priority {
                    svg {
                        width: 25px;
                        height: 20px;
                    }
                    .medium-icon {
                        width: 25px;
                        height: 25px;
                    }
                    #High_Icon {
                        #Icon_feather-triangle {
                            fill: $red;
                            stroke: $red;
                        }
                        #H {
                            fill: $white;
                        }
                    }
                    #Medium_Icon {
                        #Icon_awesome-square {
                            fill: $yellow;
                            stroke: $yellow;
                        }
                        #M {
                            fill: $white;
                        }
                    }
                    #Low_Icon {
                        #Icon_feather-triangle {
                            fill: $green;
                            stroke: $green;
                        }
                        #L {
                            fill: $white;
                        }
                    }
                }
            }
        }
        .tbody::-webkit-scrollbar {
            width: 0.5rem;
        }
        .tbody::-webkit-scrollbar-thumb {
            background: $green;
        }
    }
    .ticket-details {
        width: 89%;
        height: 200vh;
        grid-template-areas:
            "tkstatus"
            "tkinfo"
            "tktitle"
            "tkcontent"
            "tkbuttons"
            "tknote";
        grid-template-columns: 100%;
        grid-template-rows: 5.3% 29% 7% 7% 17% 33%;
        margin: 2rem 2rem 3rem 2rem;
        border-radius: 10px;
        .ticket-status-container {
            justify-content: start;
            padding-left: 2.2rem;
            border-right: none;
        }
        .ticket-info-container {
            padding: 2rem 1rem 2rem 0.6rem;
            height: 100%;
            border-right: none;
            .info-values {
                text-align: right;
                .ticket-priority-value {
                    display: flex;
                    gap: 1rem;
                    justify-self: end;
                    align-items: center;
                }
            }
        }
        .ticket-title-container {
            grid-template-columns: 100%;
            font-size: 2.6rem;
            text-align: center;
            border-top: 1px solid $gray;
            .ticket-title {
                padding-left: 0;
            }
            .tickets-return {
                align-self: start;
                padding: 1.1rem 1.4rem;
                justify-self: end;
                text-align: unset;
                position: fixed;
                left: 74%;
                bottom: 71.9%;
                height: 52px;
                width: 60px;
                background: $blue;
                z-index: 5;
                border-radius: 5px;
                svg {
                    height: 15px;
                    width: 30px;
                    fill: $white;
                }
            }
        }
        .ticket-content-container {
            font-size: 1.8rem;
            .ticket-content {
                padding: 0 2.5rem;
                text-align: center;
            }
        }
        .ticket-buttons-container {
            flex-direction: column;
            gap: 1.5rem;
            .ticket-button {
                color: $white;
                background: $green;
                border: $green;
            }
            .assign-ticket,
            .leave-note {
                color: $white;
                background: $green;
                border: $green;
            }
            .delete-ticket {
                color: $white;
                background: $red;
                border: $red;
            }
        }
        .ticket-note-container {
            width: 88%;
            height: 100%;
            padding: 2rem;
            grid-template-columns: 100%;
            grid-template-rows: 6% 49% 6% 11% 11%;
            gap: 2rem;
            grid-template-areas:
                "author"
                "ncontent"
                "time"
                "edit"
                "delete";
            justify-self: center;
            .note-content {
                font-size: 2.2rem;
                overflow-y: auto;
                height: 100%;
                align-self: start;
            }
            .note-edit,
            .note-delete {
                width: 249px;
            }
            .note-edit {
                background: $green;
                border: $green;
                color: $white;
            }
            .note-delete {
                background: $red;
                border: $red;
                color: $white;
            }
        }
    }
    #assignmodal {
        .modal-body {
            .assign-ticket-form {
                label {
                    grid-template-columns: 70.66% 10.33%;
                    grid-template-rows: 50% 50%;
                    grid-template-areas:
                        "aname radio"
                        "arole radio";
                    justify-content: center;
                    justify-items: start;
                    .assigned-image {
                        display: none;
                    }
                    .assigned-name {
                        grid-area: aname;
                        align-self: end;
                    }
                    .assigned-role {
                        grid-area: arole;
                        align-self: start;
                    }
                    .custom-radio-span {
                        grid-area: radio;
                    }
                    @-moz-document url-prefix() {
                        .assigned-name {
                            height: 50px;
                            padding-top: 2rem;
                        }
                        .assigned-role {
                            height: 50px;
                        }
                    }
                }
                @-moz-document url-prefix() {
                    label {
                        width: 95%;
                    }
                }
            }
            .assign-ticket-form::-webkit-scrollbar {
                width: 1rem;
            }
            .assign-ticket-form::-webkit-scrollbar-thumb {
                background: $green;
            }
            .assign-submit-button {
                background: $green;
                border: $green;
                color: $white;
            }
        }
    }
    #deletemodal {
        height: 74%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20rem;
        .modal-header {
            grid-gap: 12rem;
        }
        .modal-body {
            .delete-submit-button {
                background: $red;
                border: $red;
                color: $white;
            }
            .delete-cancel-button {
                background: $lightblue;
                border: $lightblue;
                color: $white;
            }
        }
    }
    #notemodal {
        height: 74%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0;
        .modal-header {
            grid-gap: 2rem;
        }
        .modal-body {
            .note-ticket-form {
                #note {
                    height: 315px;
                }
            }
            .note-submit-button {
                background: $green;
                border: $green;
                color: $white;
            }
            .note-cancel-button {
                background: $red;
                border: $red;
                color: $white;
            }
        }
    }
    #editnotemodal {
        height: 74%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0;
        .modal-header {
            grid-gap: 2rem;
        }
        .modal-body {
            .edit-note-ticket-form {
                #edit-note {
                    height: 315px;
                }
            }
            .edit-note-submit-button {
                background: $green;
                border: $green;
                color: $white;
            }
            .edit-note-cancel-button {
                background: $red;
                border: $red;
                color: $white;
            }
        }
    }
    #deletenotemodal {
        height: 74%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20rem;
        .modal-header {
            grid-gap: 12rem;
        }
        .modal-body {
            .delete-note-submit-button {
                background: $red;
                border: $red;
                color: $white;
            }
            .delete-note-cancel-button {
                background: $lightblue;
                border: $lightblue;
                color: $white;
            }
        }
    }
    #resolvemodal {
        height: 74%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20rem;
        .modal-header {
            grid-gap: 12rem;
        }
        .modal-body {
            .resolve-submit-button {
                background: $green;
                border: $green;
                color: $white;
            }
            .resolve-cancel-button {
                background: $lightblue;
                border: $lightblue;
                color: $white;
            }
        }
    }
}
