/* Colors */
/* Font Weights */
main {
  overflow: hidden;
}

.tickets {
  width: 100%;
  height: 75vh;
  display: grid;
  grid-template-areas: "thead" "tbody";
  grid-template-columns: 100%;
  grid-template-rows: 15% 1fr;
  grid-gap: 5rem;
  overflow: hidden;
}
.tickets .thead {
  grid-area: thead;
  width: 93%;
  background: #F9F9F9;
  border: 2px solid #2B777D;
  border-radius: 10px;
  font-size: 2.8rem;
  font-weight: 600;
  color: #2B777D;
}
.tickets .thead ul {
  height: 100%;
  display: grid;
  align-items: center;
  list-style: none;
  grid-template-columns: 16% 12% 24% 15% 19% 13%;
  text-align: center;
}
.tickets .tbody {
  grid-area: tbody;
  scrollbar-width: thin;
  scrollbar-color: #5FBE6E #2B777D;
  width: 100%;
  font-size: 2.4rem;
  font-weight: 400;
  color: #2B777D;
  height: 100%;
  overflow-y: overlay;
}
.tickets .tbody ul {
  height: 16.6%;
  width: 93%;
  background: #F9F9F9;
  border: 1px solid #EBEBEB;
  display: grid;
  align-items: center;
  grid-template-columns: 16% 12% 24% 15% 19% 13%;
  text-align: center;
  list-style: none;
  border-bottom: 1px solid #EBEBEB;
  cursor: pointer;
}
.tickets .tbody ul:hover {
  background: #EBEBEB;
}
.tickets .tbody ul:hover .priority #High_Icon #Icon_feather-triangle {
  fill: #C94242;
  stroke: #C94242;
}
.tickets .tbody ul:hover .priority #High_Icon #H {
  fill: #F9F9F9;
}
.tickets .tbody ul:hover .priority #Medium_Icon #Icon_awesome-square {
  fill: #BEBE5F;
  stroke: #BEBE5F;
}
.tickets .tbody ul:hover .priority #Medium_Icon #M {
  fill: #F9F9F9;
}
.tickets .tbody ul:hover .priority #Low_Icon #Icon_feather-triangle {
  fill: #5FBE6E;
  stroke: #5FBE6E;
}
.tickets .tbody ul:hover .priority #Low_Icon #L {
  fill: #F9F9F9;
}
.tickets .tbody ul:first-child {
  border-radius: 10px 10px 0 0;
}
.tickets .tbody ul:last-child {
  border-radius: 0 0 10px 10px;
}
.tickets .tbody ul .ticket_id {
  display: none;
}
.tickets .tbody ul .title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.tickets ::-webkit-scrollbar {
  width: 1.5rem;
}
.tickets ::-webkit-scrollbar-track {
  background: #2B777D;
  border-radius: 4px;
}
.tickets ::-webkit-scrollbar-thumb {
  background: #5FBEBC;
  border-radius: 4px;
}
.tickets ::-webkit-scrollbar-thumb:hover {
  background: #5FBE6E;
}

.ticket-details {
  display: none;
  width: 93%;
  height: 75vh;
  grid-template-areas: "tkstatus tktitle" "tkinfo tkcontent" "tkinfo tkbuttons" "tkinfo tknote";
  grid-template-columns: 25% 75%;
  grid-template-rows: 15% 35% 10% 40%;
  overflow: hidden;
  background: #F9F9F9;
  border: 1px solid #EBEBEB;
  border-radius: 10px;
}
.ticket-details .ticket-status-container {
  grid-area: tkstatus;
  display: grid;
  align-content: center;
  justify-content: center;
  border-right: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
}
.ticket-details .ticket-status-container .ticket-status {
  background: #A35FBE;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 221px;
  height: 52px;
  padding: 0 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #F9F9F9;
  border-radius: 5px;
}
.ticket-details .ticket-info-container {
  grid-area: tkinfo;
  border-right: 1px solid #EBEBEB;
  display: grid;
  grid-template-columns: 43% 57%;
  justify-items: center;
}
.ticket-details .ticket-info-container .ticket-info {
  display: grid;
  grid-template-rows: 12.5%;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: #2B777D;
}
.ticket-details .ticket-info-container .info-values {
  display: grid;
  grid-template-rows: 12.5%;
  align-items: center;
  font-size: 1.6rem;
  color: #262626;
}
.ticket-details .ticket-info-container .info-values :first-child {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.ticket-details .ticket-info-container .info-values .ticket-reported-by-value,
.ticket-details .ticket-info-container .info-values .ticket-assigned-to-value,
.ticket-details .ticket-info-container .info-values .ticket-assigned-by-value {
  font-weight: 600;
  color: #2B777D;
}
.ticket-details .ticket-title-container {
  grid-area: tktitle;
  display: grid;
  grid-template-columns: 93% 5%;
  align-content: center;
  font-size: 4.2rem;
  font-weight: 600;
  color: #2B777D;
  border-bottom: 1px solid #EBEBEB;
}
.ticket-details .ticket-title-container .ticket-title {
  padding-left: 7.5rem;
  align-self: center;
}
.ticket-details .ticket-title-container .tickets-return svg {
  height: 20px;
  width: 40px;
  text-align: center;
  fill: #2B777D;
  cursor: pointer;
}
.ticket-details .ticket-title-container .tickets-return svg:hover {
  fill: #5FBE6E;
}
.ticket-details .ticket-content-container {
  grid-area: tkcontent;
  display: grid;
  font-size: 2.4rem;
  font-weight: 400;
  color: #262626;
}
.ticket-details .ticket-content-container .ticket-content {
  padding: 0 7.5rem;
  align-self: center;
}
.ticket-details .ticket-buttons-container {
  grid-area: tkbuttons;
  display: flex;
  align-items: center;
  gap: 7.5rem;
  justify-content: center;
}
.ticket-details .ticket-buttons-container .ticket-button {
  font-size: 2.2rem;
  font-weight: 600;
  color: #2B777D;
  text-align: center;
  background: #F9F9F9;
  border: 2px solid #2B777D;
  border-radius: 10px;
  width: 256px;
  height: 58px;
  cursor: pointer;
}
.ticket-details .ticket-buttons-container .ticket-button:hover {
  background: #5FBE6E;
  border-color: #5FBE6E;
  color: #F9F9F9;
}
.ticket-details .ticket-buttons-container .ticket-button-disabled {
  font-size: 2.2rem;
  font-weight: 600;
  color: #2B777D;
  text-align: center;
  background: #F9F9F9;
  border: 2px solid #2B777D;
  border-radius: 10px;
  width: 256px;
  height: 58px;
  opacity: 0.5;
}
.ticket-details .ticket-buttons-container .delete-ticket:hover {
  background: #C94242;
  border: 2px solid #C94242;
}
.ticket-details .ticket-note-container {
  grid-area: tknote;
  background: #5FBEBC;
  border: 2px solid #2B777D;
  border-radius: 10px;
  width: 86%;
  height: 85%;
  display: none;
  opacity: 0;
  align-items: center;
  padding: 4rem;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 10% 60% 30%;
  grid-template-areas: "author author time" "ncontent ncontent ncontent" "edit delete delete";
  align-self: center;
  justify-self: center;
  transition: opacity 300ms ease-in-out;
}
.ticket-details .ticket-note-container .note-author {
  grid-area: author;
  font-size: 2.2rem;
  font-weight: 600;
  color: #2B777D;
}
.ticket-details .ticket-note-container .note-time {
  grid-area: time;
  font-size: 2.2rem;
  font-weight: 400;
  color: #EBEBEB;
  justify-self: end;
}
.ticket-details .ticket-note-container .note-content {
  grid-area: ncontent;
  font-size: 2.4rem;
  font-weight: 400;
  color: #F9F9F9;
}
.ticket-details .ticket-note-container .note-edit,
.ticket-details .ticket-note-container .note-delete {
  font-size: 2.2rem;
  font-weight: 600;
  color: #2B777D;
  text-align: center;
  background: #5FBEBC;
  border: 2px solid #2B777D;
  border-radius: 10px;
  width: 256px;
  height: 58px;
  cursor: pointer;
}
.ticket-details .ticket-note-container .note-edit {
  grid-area: edit;
}
.ticket-details .ticket-note-container .note-edit:hover {
  background: #5FBE6E;
  color: #F9F9F9;
  border: 2px solid #5FBE6E;
}
.ticket-details .ticket-note-container .note-delete {
  grid-area: delete;
}
.ticket-details .ticket-note-container .note-delete:hover {
  background: #C94242;
  color: #F9F9F9;
  border: 2px solid #C94242;
}
.ticket-details #assignmodal .assign-submit-button {
  width: 1488px;
  max-width: 100%;
  height: 69px;
  border: solid 2px #5FBE6E;
  border-radius: 10px;
  outline: none;
  padding: 0 1em;
  font-weight: 600;
  color: #5FBE6E;
  background: none;
  font-size: 2.4rem;
}
.ticket-details #assignmodal .assign-submit-button:hover {
  color: #F9F9F9;
  background: #5FBE6E;
}/*# sourceMappingURL=tickets.css.map */