/* Colors */
// Main
$green: #5FBE6E;
$darkblue: #2B365A;
$blue: #2B777D;
$lightblue: #5FBEBC;
// Sub
$yellow: #BEBE5F;
$red: #C94242;
$purple: #A35FBE;
// Basic
$black: #262626;
$white: #F9F9F9;
$gray: #EBEBEB;

/* Font Weights */
$thin: 100;
$extralight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$blackbold: 900;